<div class="orderContainer">
  <div class="backgroundImage">
      <img src="./../assets/pattern-background-desktop.svg">
    
  </div>
  <div class="cardLayout">
    <div class="card">
      <mat-card>
        <img src="./../assets/illustration-hero.svg"  mat-card-image>
        <div class="titleDiv">
          <mat-card-title style="font-family: 'Red Hat Display', sans-serif; font-weight: 900;">
            Order Summary
          </mat-card-title>
          <mat-card-subtitle>
            <p ALIGN=CENTER>You can now listen to millions of songs, audiobooks, and podcasts on any device</p>
            <p ALIGN=CENTER> anywhere you like!</p>
          </mat-card-subtitle>
        </div>
        <div class="center">
          <mat-card-content>
            <div class="imageIcon">
              <img src="./../assets/icon-music.svg" mat-card-image>
            </div>
            <div class="plan">
              <p class="annualPlan">Annual plan</p>
              <p>$59.9/year</p>
            </div>
            <div class="changeAction">
              <a  href="#" target="_blank">Change</a>
            </div>
          </mat-card-content>
          <div class="payment">
            <button mat-button >Proceed to payment</button>
          </div>
          <div class="cancel">
            <button mat-button >Cancel</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>